body {
    background-color: #fafafa;
}

.root {
    flex-grow: 1;
    height: 440px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.MuiTypography-body1-63 {
    color: #fff !important;
}